<nav class="navbar HorizontalBar">
    <div class="btn-Group col-8">
        <button type="button" class="btn btn-left" (click)="ApplyGrayFilter()">Edit</button>
        <button type="button" class="btn btn-left">Middle</button>
        <button type="button" class="btn btn-left">Right</button>
        <button type="button" class="btn btn-left">Right</button>
      </div>
      <div class="btn-Group col-4">
          <button type="button" class="btn btn-right">Left</button>
          <button type="button" class="btn btn-right">Middle</button>
          <button type="button" class="btn btn-right">Right</button>

        </div>
</nav>
