
  <div class="row Row">
      <div class="col-lg-4 col-md-12  thumb" >
          <img src="{{ParentImages.img1.sscr}}" class="img" (click)="SendBigImage(ParentImages.img1.bscr)"></div>
        <div class="col-lg-4 col-md-12 thumb">
            <img src="{{ParentImages.img2.sscr}}" class="img" (click)="SendBigImage(ParentImages.img2.bscr)" ></div>
        <div class="col-lg-4 col-md-12 thumb"  >
           <img src="{{ParentImages.img3.sscr}}" class="img" (click)="SendBigImage(ParentImages.img3.bscr)" >

        </div>


  </div>


