.thumnailsContainer{
  margin-top:5px;
  border-left: solid 2px silver;





}

.thumb{
  margin-top:5px;
  /* margin-left: -10px;
  margin-right: -5x;
  padding: -10px; */
}
.Row{
  border-bottom: solid 2px silver;

}



