
<div class="container-fluid ">
  <div class="row">
    <div class="col-md-12 ">
      <app-thumbnails-header [ImagesNumber]="ImagesNumber"></app-thumbnails-header>






    </div>

  </div>
  <div class="row thumnails">
      <div class="container-fluid thumnailsContainer">
          <div class="row Row">
              <div class="col-md-12 " >
                <app-thumbnails-viewer *ngFor="let image of thumImages "  [SmallImage]="image"  (BigImageEvent)="ReciveImageId($event)"></app-thumbnails-viewer>
        </div>
        <img [src]="ImageSource">
        </div>
      </div>
    </div>

</div>


