
<div class="container-fluid ">
  <div class="row">
    <div class="col-md-12 ">
      <app-thumbnails-header [ImagesNumber]="ImagesNumber"></app-thumbnails-header>






    </div>

  </div>
  <div class="row thumnails">
      <div class="container-fluid thumnailsContainer">
          <div class="row Row">
              <div class="col-md-4 " *ngFor="let Url of Combined$ | async "    >
                <img [src]="Url.Image" class="img" (click)="ReciveImageId(Url.Id)">
        </div>
        </div>
      </div>
    </div>

</div>


