<!--The content below is only a placeholder and can be replaced.-->


<div class="container-fluid parent">
  <div class="row">
    <div class="col-12">
        <app-main-header>

          </app-main-header>

    </div>


  </div>

  <div class="row">
    <div class="col-7">
        <app-main>

        </app-main>

  </div>
  <div class="col thumnails" id="resizableDiv">

          <app-thumbnail >

            </app-thumbnail>


    </div>

</div>
</div>

 <!-- <alert class="md-color">
  <strong>Well done!</strong> You successfully read this important alert message.
</alert>
 <button type="button" class="btn btn-primary">
  Single Button
</button> -->



<router-outlet></router-outlet>
